version: "3"

services:

  # -- Authentication & System Management
  # -------------------------------------------------

  # generates NettyApps ERP Authorization Api site
  netty-isg-login:
    image: registry.nettyapps.com.tr/netty/restapi/authorization:latest
    container_name: netty-isg-login
    environment:
      - CONNECTION_STRING=${DB_CONNECTION_STRING}
      - MAXWRONGTRY=5
      - TIMEOUTDURATION=90
      - TZ=Europe/Istanbul
      - REDIS_CONNECTION=netty-redis:6379
      - REDIS_INSTANCE=isg_
    ports:
      - 8451:80
      # - 28451:443
    volumes:
      - ./authorization/logs:/app/logs/
    restart: unless-stopped
    networks:
      - netty-network

  # generates NettyApps ERP Admin site
  netty-isg-admin:
    image: registry.nettyapps.com.tr/netty/angular/admin-portal:latest
    container_name: netty-isg-admin
    environment:
      - API_URL=https://isg.nettyapps.com.tr/adminapi
      - ADMIN_URL=https://isg.nettyapps.com.tr/login
      - BASE_HREF=/admin/
      - APPLICATION=AdminPortal
      - TZ=Europe/Istanbul
    ports:
      - 8452:80
      - 28452:443
    restart: unless-stopped
    networks:
      - netty-network

  # generates NettyApps ERP Admin Api site
  netty-isg-adminapi:
    image: registry.nettyapps.com.tr/netty/restapi/admin-portal:latest
    container_name: netty-isg-adminapi
    environment:
      - CONNECTION_STRING=${DB_CONNECTION_STRING}
      - MAXWRONGTRY=5
      - TIMEOUTDURATION=90
      - TZ=Europe/Istanbul
      - REDIS_CONNECTION=netty-redis:6379
      - REDIS_INSTANCE=isg_
    ports:
      - 8453:80
      # - 28453:443
    volumes:
      - ./admin/logs:/app/logs/
    cap_add:
      - NET_BIND_SERVICE
    restart: unless-stopped
    networks:
      - netty-network

  # -- HRB Solution
  # -------------------------------------------------

  # generates NettyApps HRB Angular site
  netty-isg-hrb:
    image: registry.nettyapps.com.tr/netty/angular/hrm_hrb:latest
    container_name: netty-isg-hrb
    environment:
      - API_URL=https://isg.nettyapps.com.tr/hrbapi
      - ADMIN_URL=https://isg.nettyapps.com.tr/login
      - BASE_HREF=/hrb/
      - APPLICATION=Nettyhrb
      - TZ=Europe/Istanbul
    ports:
      - 8454:80
      - 28454:443
    restart: unless-stopped
    networks:
      - netty-network

  # generates NettyApps HRB Api site
  netty-isg-hrbapi:
    image: registry.nettyapps.com.tr/netty/restapi/hrm_hrb:latest
    container_name: netty-isg-hrbapi
    environment:
      - CONNECTION_STRING=${DB_CONNECTION_STRING}
      - MAXWRONGTRY=5
      - TIMEOUTDURATION=90
      - TZ=Europe/Istanbul
      - REDIS_CONNECTION=netty-redis:6379,password=n€tty
      - REDIS_INSTANCE=isg_
    ports:
      - 8455:80
      # - 28455:443
    cap_add:
      - "NET_BIND_SERVICE"
    volumes:
      - ./hrb/logs:/app/logs/
    restart: unless-stopped
    networks:
      - netty-network


  # HRM
  # -------------------------------------------------
  netty-isg-hrm:
    image: registry.nettyapps.com.tr/netty/angular/hrm_hrm:latest
    container_name: netty-isg-hrm
    environment:
      - API_URL=https://isg.nettyapps.com.tr/hrmapi
      - ADMIN_URL=https://isg.nettyapps.com.tr/login
      - BASE_HREF=/hrm/
      - APPLICATION=Nettyhrm
      - TZ=Europe/Istanbul
    ports:
      - 8456:80
      - 28456:443
    restart: unless-stopped
    networks:
      - netty-network


  netty-isg-hrmapi:
    image: registry.nettyapps.com.tr/netty/restapi/hrm_hrm:latest
    container_name: netty-isg-hrmapi
    environment:
      - CONNECTION_STRING=${DB_CONNECTION_STRING}
      - MAXWRONGTRY=5
      - TIMEOUTDURATION=90
      - TZ=Europe/Istanbul
      - REDIS_CONNECTION=netty-redis:6379,password=n€tty
      - REDIS_INSTANCE=isg_
    ports:
      - 8457:80
      # - 28457:443
    cap_add:
      - "NET_BIND_SERVICE"
    volumes:
      - ./hrm/logs:/app/logs/
    restart: unless-stopped
    networks:
      - netty-network
    
  # HSE
  # -------------------------------------------------
  # generates nettyapps BYC site
  netty-isg-hse:
    image: registry.nettyapps.com.tr/netty/angular/hrm_hse:latest
    container_name: netty-isg-hse
    environment:
      - API_URL=https://isg.nettyapps.com.tr/hseapi
      - ADMIN_URL=https://isg.nettyapps.com.tr/login
      - BASE_HREF=/hse/
      - APPLICATION=Nettyhse
      - TZ=Europe/Istanbul
    ports:
      - 8458:80
      - 28458:443
    restart: unless-stopped
    networks:
      - netty-network
  # generates nettyapps BYC Api site

  netty-isg-hseapi:
    image: registry.nettyapps.com.tr/netty/restapi/hrm_hse:latest
    container_name: netty-isg-hseapi
    environment:
      - CONNECTION_STRING=${DB_CONNECTION_STRING}
      - MAXWRONGTRY=5
      - TIMEOUTDURATION=90
      - TZ=Europe/Istanbul
      - REDIS_CONNECTION=netty-redis:6379,password=n€tty
      - REDIS_INSTANCE=isg_
    ports:
      - 8459:80
      # - 28459:443
    cap_add:
      - "NET_BIND_SERVICE"
    volumes:
      - ./hse/logs:/app/logs/
    restart: unless-stopped
    networks:
      - netty-network

  # HSEDR
  # -------------------------------------------------
  netty-isg-hsedr:
    image: registry.nettyapps.com.tr/netty/angular/hrm_hsedr:latest
    container_name: netty-isg-hsedr
    environment:
      - API_URL=https://isg.nettyapps.com.tr/hsedrapi
      - ADMIN_URL=https://isg.nettyapps.com.tr/login
      - BASE_HREF=/hsedr/
      - APPLICATION=Nettyhsedr
      - TZ=Europe/Istanbul
    ports:
      - 8460:80
      - 28460:443
    restart: unless-stopped
    networks:
      - netty-network

  netty-isg-hsedrapi:
    image: registry.nettyapps.com.tr/netty/restapi/hrm_hsedr:latest
    container_name: netty-isg-hsedrapi
    environment:
      - CONNECTION_STRING=${DB_CONNECTION_STRING}
      - MAXWRONGTRY=5
      - TIMEOUTDURATION=90
      - TZ=Europe/Istanbul
      - REDIS_CONNECTION=netty-redis:6379,password=n€tty
      - REDIS_INSTANCE=isg_
   #   - APPLICATION=BYCOffer
    ports:
      - 8461:80
      # - 28461:443
    cap_add:
      - "NET_BIND_SERVICE"
    volumes:
      - ./hsedr/logs:/app/logs/
    restart: unless-stopped
    networks:
      - netty-network


networks:
   netty-network:
     name: netty-network
     external: true
     driver: bridge
