version: "3"

services:

# Proxies requests to internal services

  # generates NettyApps enfmuh Admin site
  netty-live-enfmuh-admin:
    image: registry.nettyapps.com.tr/netty/angular/admin-portal:live
    container_name: netty-live-enfmuh-admin
    environment:
      - API_URL=https://enf.nettyapps.com.tr/adminapi
      - ADMIN_URL=https://enf.nettyapps.com.tr/login
      - BASE_HREF=/admin/
      - APPLICATION=AdminPortal
      - TZ=Europe/Istanbul
    ports:
      - 8480:80
      - 28480:443
    restart: always
    networks:
      - netty-network

  # generates NettyApps enfmuh Admin Api site
  netty-live-enfmuh-adminapi:
    image: registry.nettyapps.com.tr/netty/restapi/admin-portal:live
    container_name: netty-live-enfmuh-adminapi
    environment:
      - CONNECTION_STRING=${DB_CONNECTION_STRING}
      - MAXWRONGTRY=5
      - TIMEOUTDURATION=90
      - TZ=Europe/Istanbul
    ports:
      - 8481:80
      - 28481:443
    cap_add:
      - "NET_BIND_SERVICE"
    restart: always
    networks:
      - netty-network

  # generates NettyApps enfmuh Authorization Api site
  netty-live-enfmuh-login:
    image: registry.nettyapps.com.tr/netty/restapi/authorization:live
    container_name: netty-live-enfmuh-login
    environment:
      - CONNECTION_STRING=${DB_CONNECTION_STRING}
      - MAXWRONGTRY=5
      - TIMEOUTDURATION=90
      - TZ=Europe/Istanbul
    ports:
      - 8482:80
      - 28482:443
    restart: always
    networks:
      - netty-network

  # generates NettyApps enfmuh Angular site
  netty-live-enfmuh:
    image: registry.nettyapps.com.tr/netty/netty/angular/enfmuh:live
    container_name: netty-live-enfmuh
    environment:
      - API_URL=https://enf.nettyapps.com.tr/enfmuhapi
      - ADMIN_URL=https://enf.nettyapps.com.tr/login
      - BASE_HREF=/enfmuh/
      - APPLICATION=enfmuh
      - TZ=Europe/Istanbul
    ports:
      - 8483:80
      - 28483:443
    restart: always
    networks:
      - netty-network

  # generates NettyApps enfmuh Api site
  netty-live-enfmuhapi:
    image: registry.nettyapps.com.tr/netty/netty/restapi/enfmuh:live
    container_name: netty-live-enfmuhapi
    environment:
      - CONNECTION_STRING=${DB_CONNECTION_STRING}
      - MAXWRONGTRY=5
      - TIMEOUTDURATION=90
      - TZ=Europe/Istanbul
      - APPLICATION=EnfMuh
    ports:
      - 8484:80
      - 28484:443
    restart: always
    networks:
      - netty-network

networks:
   netty-network:
     name: netty-network
     external: true
     driver: bridge

