version: "3"

services:
  # Proxies requests to internal services

  reverse-proxy:
    image: nginx:latest
    container_name: Netty-NginX
    build:
      context: ./nginx
    # depends_on:
      # - netty-byc-db
    environment:
      - TZ=Europe/Istanbul
    volumes:
      - ./nginx/conf.d/:/etc/nginx/conf.d/
      - ./nginx/landingpage/:/usr/share/nginx/html/
      # - ./nginx/ssl/star.nettyapps.com.tr.crt:/etc/ssl/certs/star.nettyapps.com.tr.crt:ro
      # - ./nginx/ssl/star.nettyapps.com.tr.key:/etc/ssl/private/star.nettyapps.com.tr.key:ro
      # - ./nginx/ssl/star.nettyapps.com.crt:/etc/ssl/certs/star.nettyapps.com.crt:ro
      # - ./nginx/ssl/star.nettyapps.com.key:/etc/ssl/private/star.nettyapps.com.key:ro
      # Bakim Certificates
      - ./nginx/ssl/bakim/privkey.pem:/etc/ssl/private/bakim.privkey.pem:ro
      - ./nginx/ssl/bakim/fullchain.pem:/etc/ssl/certs/bakim.fullchain.pem:ro
      # edonusum Certificates
      - ./nginx/ssl/edonusum/privkey.pem:/etc/ssl/private/edonusum.privkey.pem:ro
      - ./nginx/ssl/edonusum/fullchain.pem:/etc/ssl/certs/edonusum.fullchain.pem:ro
      # Enf-muh Certificates
      - ./nginx/ssl/enf-muh/privkey.pem:/etc/ssl/private/enf-muh.privkey.pem:ro
      - ./nginx/ssl/enf-muh/fullchain.pem:/etc/ssl/certs/enf-muh.fullchain.pem:ro
       # isg Certificates
      - ./nginx/ssl/isg/privkey.pem:/etc/ssl/private/isg.privkey.pem:ro
      - ./nginx/ssl/isg/fullchain.pem:/etc/ssl/certs/isg.fullchain.pem:ro
      # Medical Certificates
      - ./nginx/ssl/medical/privkey.pem:/etc/ssl/private/medical.privkey.pem:ro
      - ./nginx/ssl/medical/fullchain.pem:/etc/ssl/certs/medical.fullchain.pem:ro
      # uts Certificates
      - ./nginx/ssl/uts/privkey.pem:/etc/ssl/private/uts.privkey.pem:ro
      - ./nginx/ssl/uts/fullchain.pem:/etc/ssl/certs/uts.fullchain.pem:ro
      # WWW Certificates
      - ./nginx/ssl/www/privkey.pem:/etc/ssl/private/www.privkey.pem:ro
      - ./nginx/ssl/www/fullchain.pem:/etc/ssl/certs/www.fullchain.pem:ro

    ports:
      - 80:80
      - 443:443
    restart: unless-stopped
        
    networks:
      - netty-network

networks:
   netty-network:
     name: netty-network
     external: true
     driver: bridge

