version: '3.8'

services:
  postgres:
    image: postgres:18
    container_name: postgres18
    restart: unless-stopped
    env_file:
      - .env
    environment:
      TZ: Europe/Istanbul
      PGTZ: Europe/Istanbul
      POSTGRES_INITDB_ARGS: "--data-checksums"
    volumes:
      - ./pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  pg_backup:
    build: ./pg_backup
    container_name: pg_backup
    depends_on:
      - postgres
    env_file:
      - .env
    volumes:
      - ./backups:/backups
    restart: unless-stopped