* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1180px;
  display: flex;
  flex-direction: column;
}
body > * {
  flex-shrink: 1;
}
.baslik {
  color: black;
  padding-left: 1em;
  font-weight: bolder;
  font-size: x-large;
}
.header-background {
  width: 26em;
  background-color: rgba(83, 168, 75, 0.897);
  height: 3em;
  display: flex;
  /* Vertical center alignment */
  align-items: center;
}
.menu-bar {
  background-color: rgb(90, 109, 109);
  color: rgb(120, 114, 161);
  width: 100%;
  display: flex;
  /* Vertical center alignment */
  align-items: center;
  /* Horizontal center alignment */
  /* justify-content: center; */
}
.spacer {
  width: 100%;
}
.resim {
  width: 100%;
  background-image: URL("assets/ust.jpg");
  background-position: bottom left;
  background-repeat: no-repeat;
  height: 185px;
}

.nettyapps_logo {
  max-width: 200px;
  width: 100%;
  padding: 1em;
  flex-grow: 0;
  flex-shrink: 1;
  position: left;
}

.beycelik_logo {
  max-width: 170px;
  width: 100%;
}
.links {
  padding: 2em;
  padding-left: 5em;
}
.link-line {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}
.link-image {
  height: 4em;
  padding-right: 2em;
}
