version: "3"

services:
  nettyAtasunProxy:
    image: registry.nettyapps.com.tr/netty/restapi/edonusumbatch:test
    container_name: netty_restapi_edonusumbatch_test
    environment:
      - CONNECTION_STRING=${DB_CONNECTION_STRING}
      - MAXWRONGTRY=5
      - TIMEOUTDURATION=90
      - TAXPAYER_URI="https://tools.nettyapps.com/taxpayertest/"
      - TAXPAYER_USER="netty"
      - TAXPAYER_PASSWORD="pass123"
      - TZ=Europe/Istanbul
    ports:
      - 2103:80
    cap_add:
      - "NET_BIND_SERVICE"
    volumes:
      - ./App_Data/xml_out:/app/xml_out/
      - ./App_Data/xml_in:/app/xml_in/
      - ./logs/edonusumbatch:/app/logs/
    restart: unless-stopped
    networks:
      - netty-network

networks:
   netty-network:
     name: netty-network
     external: true
     driver: bridge
