version: "3"
services:

# Proxies requests to internal services
  # generates NettyApps Admin site
  netty-live-admin:
    image: registry.nettyapps.com.tr/netty/angular/admin-portal:live
    container_name: netty-live-demo-admin
    environment:
      - API_URL=https://demo.nettyapps.com/adminapi
      - ADMIN_URL=https://demo.nettyapps.com/login
      - BASE_HREF=/admin/
      - APPLICATION=AdminPortal
      - TZ=Europe/Istanbul
    ports:
      - 8402:80
      - 28402:443
    restart: on-failure
    networks:
      - netty-network    

  # generates NettyApps medical Admin Api site
  netty-live-adminapi:
    image: registry.nettyapps.com.tr/netty/restapi/admin-portal:live
    container_name: netty-live-demo-adminapi
    environment:
      - CONNECTION_STRING=${DB_CONNECTION_STRING}
      - MAXWRONGTRY=5
      - TIMEOUTDURATION=90
      - TZ=Europe/Istanbul
    depends_on:
      - netty-redis-demo
    ports:
      - 8403:80
      - 28403:443
    volumes:
      - ./app_data/adminlog:/app/logs/      
    cap_add:
      - "NET_BIND_SERVICE"
    restart: on-failure
    networks:
      - netty-network    

  # generates NettyApps medical Authorization Api site
  netty-live-login:
    image: registry.nettyapps.com.tr/netty/restapi/authorization:live
    container_name: netty-live-demo-login
    environment:
      - CONNECTION_STRING=${DB_CONNECTION_STRING}
      - MAXWRONGTRY=5
      - TIMEOUTDURATION=90
      - TZ=Europe/Istanbul
      - REDIS_CONNECTION=demo.nettyapps.com:6389
      - REDIS_INSTANCE=Demo_
    ports:
      - 8401:80
      - 28401:443
    volumes:
      - ./app_data/loginlog:/app/logs/      
    cap_add:
      - "NET_BIND_SERVICE"
    restart: on-failure
    networks:
      - netty-network      

# Redis Part
  # netty-redis-demo:
  #   image: redis:latest
  #   container_name: netty-redis-demo
  #   # volumes:
  #   #   - redis_volume_data:/data
  #   command: --port 6380
  #   ports:
  #     - 6380:6380
  #   restart: always

  # redis-commander:
  #   container_name: redis-commander
  #   hostname: redis-commander
  #   image: ghcr.io/joeferner/redis-commander:latest
  #   restart: always
  #   environment:
  #     - REDIS_HOSTS=local:netty-redis #:6389
  #   ports:
  #     - 8081:8081

# ERP Part
  # generates NettyApps ERP Angular site
  netty-demo-erp:
    image: registry.nettyapps.com.tr/vargonen/angular/erp:live
    container_name: netty-demo-erp
    environment:
      - API_URL=https://demo.nettyapps.com/erpapi
      - ADMIN_URL=https://demo.nettyapps.com/login
      - BASE_HREF=/erp/
      - APPLICATION=ERP
      - TZ=Europe/Istanbul
    ports:
      - 8404:80
      - 28404:443
    restart: on-failure
    networks:
      - netty-network

  # generates NettyApps ERP Api site
  netty-demo-erpapi:
    image: registry.nettyapps.com.tr/vargonen/restapi/erp:live
    container_name: netty-demo-erpapi
    environment:
      - CONNECTION_STRING=${DB_CONNECTION_STRING}
      - MAXWRONGTRY=5
      - TIMEOUTDURATION=90
      - TZ=Europe/Istanbul
      - LICENSECHECKWEBSITE=${LICENSER_WEBSITE}
      - APPLICATION=ERP
    ports:
      - 8405:80
      - 28405:443
    volumes:
      - ./app_data/erplog:/app/logs/      
    restart: on-failure
    networks:
      - netty-network

networks:
   netty-network:
     name: netty-network
     external: true
     driver: bridge
     